.Character {
    margin: 1em;
    position: relative;    
    h1 {
        position: absolute;
        top: 230px;
        height: 70px;
        width: 300px;
        background-color: black;
        opacity: .6;
        margin: 0;
        color: white;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .species {
        display: flex;
        width: 300px;
        background-color:black;
        opacity: .6;
        justify-content: space-between;
        margin: 0;
        padding: 5px;
        box-sizing: border-box;
        font-size: 1.5rem;

        #left {
            color: white;
        }

        #right {
            color: orange;
        }
    }
    img {
        margin: 0;
    }
}